// Fonts

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../../assets/fonts/ofont.ru_Myriad\ Pro.eot');
  src: local('☺'),
    url('../../assets/fonts/ofont.ru_Myriad Pro.woff') format('woff'),
    url('../../assets/fonts/ofont.ru_Myriad Pro.ttf') format('truetype'),
    url('../../assets/fonts/ofont.ru_Myriad Pro.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
