/* Fonts */
@import '../../scss/modules/fonts';
/* Fonts */

// Nullstyle
@import '../../scss/modules/reset';

// Palette
@import '../../scss/modules/main/palette';

// Adaptive font variables

// Mixins
@mixin textParameters(
  $color: $contextTextcolor,
  $size: 18px,
  $style: normal,
  $weight: 400,
  $lh: 1,
  $ls: normal,
  $transform: none,
  $opacity: 1,
  $shadow: none,
  $decoration: none
) {
  color: $color;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $lh;
  letter-spacing: $ls;
  text-transform: $transform;
  opacity: $opacity;
  text-shadow: $shadow;
  text-decoration: $decoration;
}

// Presets
body {
  font-family: 'Lato', sans-serif;
  @include textParameters();
}
a {
  transition: 0.5s;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.85;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    object-fit: cover;
    visibility: hidden;
  }
}

.container-full {
  max-width: 100%;
  margin: 0 auto;
}

.title {
  @include textParameters(
    $color: $titleTextcolor,
    $size: 18px,
    $transform: uppercase,
    $ls: 3.6px,
    $weight: 700
  );
}

/* Header styles start */

._container {
  max-width: 1222px;
  margin: 0 auto;
}

.header {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  background-color: #eceef4;
}

.header__burger {
  display: none;
}
.header__logo {
  display: none;
}
.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav {
  width: 100%;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__link {
  color: #4d4959;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  opacity: 1;
  text-shadow: none;
  text-decoration: none;
}
.header__link_after:after {
  content: '.';
  display: inline-block;
  padding-left: 35px;
}

.header__shopping-cart {
  position: relative;
}

.shopping-cart__body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -14px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #64c29e;
  font-size: 12px;
  letter-spacing: -0.5px;
}

.shopping-cart__icon {
  width: 40px;
}

.cart-header__body {
  background: #eceef4;
  border: 1px solid #dadde7;
  transform: translateX(15px);
  position: absolute;
  top: 60px;
  right: 0;
  padding: 15px;
  width: 300px;
  z-index: 1003;

  opacity: 0;
  visibility: hidden;
  transform: translate(0px, 20px);
  transition: all 0.3s ease 0;
  &_active {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
  }
}

._active {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
}

.cart-list {
  overflow: auto;
  max-height: 400px;
  &__image {
    flex: 0 0 100px;
    height: 70px;
    position: relative;
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 10px;
  }

  &__title {
    font-weight: 600;
    margin: 0 0 calc(10px / 16px * 1em) 0;
    color: rgb(236, 56, 56);
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    // font-size: 16px !important;
  }

  &__quantity {
    margin: 0 0 calc(5px / 14px * 1em) 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px !important;
  }

  &__price {
    margin: 3px 0;
    font-size: 15px;
  }

  &__remove {
    background: none;
    border: none;
    padding-left: 0;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-size: 15px;

    & span {
      color: rgb(236, 56, 56);
      padding-left: 4px;
      // margin-bottom: 5px;
    }
  }

  &__btn {
    display: none;
  }

  &__btn-active {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    display: block;
    width: 100%;
    border: 1px solid #dadde7;
    background: #64c29e;
    height: 30px;
    color: #fff;
    font-weight: 700;
    transition: 0.3s;
    margin-top: 10px;
    &:hover {
      color: #64c29e;
      background: rgb(245, 244, 244);
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    &:not(:last-child) {
      margin: 0 0 15px 0;
    }
  }
}

/* Header styles end */

/* Main content styles start */
.content {
  flex: 1 1 auto;
}
/* Main content styles end */

/* Intro styles start */
.intro {
  &__bg {
    min-height: 100vh;
    background-attachment: fixed;
  }
}
/* Intro styles end */

/* About styles start */
.about {
  // background-color: green;
  padding: 118px 10px 134px 10px;
  background-color: $graywhiteColor;

  &__container {
    max-width: 1080px;
    margin: 0 auto;
  }

  &__body {
    text-align: center;
  }

  &__icon {
    margin-bottom: 34px;
  }

  &__icon-pic {
    object-fit: cover;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    @include textParameters($lh: 34px);
  }
}
/* About styles end */

/* Work section styles start */
.work {
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(333px, 1fr));
    grid-template-rows: repeat(9, minmax(200px, 1fr));
    grid-template-areas:
      'work__card_first work__card_first work__card_second'
      'work__card_first work__card_first work__card_second'
      'work__card_first work__card_first work__card_third'
      'work__card_fourth work__card_six work__card_six'
      'work__card_fourth work__card_six work__card_six'
      'work__card_fifth work__card_six work__card_six'
      'work__card_seventh work__card_eighth work__card_tenth'
      'work__card_seventh work__card_eighth work__card_tenth'
      'work__card_seventh work__card_ninth work__card_tenth';
  }

  &__card {
    &_first {
      grid-area: work__card_first;
    }

    &_second {
      grid-area: work__card_second;
    }

    &_third {
      grid-area: work__card_third;
    }

    &_fourth {
      grid-area: work__card_fourth;
    }

    &_fifth {
      grid-area: work__card_fifth;
    }

    &_six {
      grid-area: work__card_six;
    }

    &_seventh {
      grid-area: work__card_seventh;
    }

    &_eighth {
      grid-area: work__card_eighth;
    }

    &_ninth {
      grid-area: work__card_ninth;
    }

    &_tenth {
      grid-area: work__card_tenth;
    }
  }
}

.lg-image {
  position: relative;

  &__lgpic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-content {
  text-align: center;
  position: relative;

  &__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 26px;
  }

  &__text {
    max-width: 422px;
    padding: 0 10px 30px 10px;
    position: relative;
    text-align: left;
    text-align: justify;
    @include textParameters($size: 16px, $lh: 30px);

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 50px;
      bottom: 0px;
      height: 1px;
      left: 50%;
      background-color: $textLineColor;
      margin: 0px 0px 0px -25px;
    }
  }
}

.medium-image {
  position: relative;

  &__pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sm-image {
  position: relative;

  &__smpic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Work section styles end */

/* Twitter section styles start */
/* Quotes styles start*/
.slider {
  display: flex;
  justify-content: center;
  &__container {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    color: #fff;
    letter-spacing: 1px;
    line-height: 24px;
  }

  &__row {
    margin-top: 100px;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 350px;
  }
  &__pic {
    position: absolute;
    left: 50%;
    margin: -25px 0 0 -25px;
    top: 0;

    img {
      width: 50px;
    }
  }
  &__items {
    background: rgba(128, 128, 128, 0.555);

    width: 500%;
    display: flex;
    text-align: center;
    input {
      position: absolute;
      visibility: hidden;
    }
    &-item {
      width: 20%;
      padding: 40px 20px 20px 20px;
      transition: 1s ease;
    }
  }
  #s1:checked ~ .s1 {
    margin-left: 0;
  }
  #s2:checked ~ .s1 {
    margin-left: -20%;
  }
  #s3:checked ~ .s1 {
    margin-left: -40%;
  }
  #s4:checked ~ .s1 {
    margin-left: -60%;
  }
}
.slider-nav {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 15px;
  background-color: rgb(194, 77, 77);
  &-item {
    margin-top: 10px;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    border-radius: 100%;
    border: 2px solid #fff;
    // cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      background-color: #fff;
    }
  }
}

// new

/* Slideshow container */
.carousel {
  position: relative;
  padding-top: 50%;
  max-width: 100%;
  // max-height: 600px;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background: url('../../assets/images/main/content/work/company-lg.jpg')
    no-repeat;
  background-size: 100%;
  counter-increment: item;
}

.carousel__slide:nth-child(2) {
  background: url('../../assets/images/main/content/intro/intro-bg.jpg')
    no-repeat;
  background-size: 100%;
}
.carousel__slide:nth-child(3) {
  background: url('../../assets/images/main/content/work/vintage-lg.jpg')
    no-repeat;
  background-size: 100%;
}
.carousel__slide:nth-child(4) {
  background: url('../../assets/images/main/content/intro/intro-bg.jpg')
    no-repeat;
  background-size: 100%;
}

.carousel__slide:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
// new

/* Quotes styles end*/
// .twitter {
//   padding: 124px 10px 68px 10px;
//   background-color: $graywhiteColor;

//   &__container {
//     max-width: 1036px;
//     margin: 0 auto;
//   }

//   &__body {
//     text-align: center;
//   }

//   &__ico {
//     margin-bottom: 36px;
//   }

//   &__ico-thumb {
//     object-fit: cover;
//   }

//   &__title {
//     text-transform: none;
//     letter-spacing: 1.8px;
//     margin-bottom: 16px;

//     mark {
//       &:first-child {
//         font-weight: 700;
//       }

//       &:nth-child(2) {
//         font-family: 'MyriadPro-Regular';
//         font-weight: 400;
//       }

//       &:last-child {
//         color: $contextTextcolor;
//         font-weight: 300;
//       }
//     }
//   }

//   &__text {
//     @include textParameters($size: 24px, $style: italic, $lh: 34px);
//     margin-bottom: 96px;
//   }

//   &__slider {
//     span {
//       display: inline-block;
//       height: 11px;
//       width: 11px;
//       border-radius: 50%;
//       overflow: hidden;
//       border: 1px solid $sliderBorderColor;
//       margin-right: 10px;

//       &:first-child {
//         background-color: $sliderBgColor;
//       }

//       &:last-child {
//         margin: 0;
//       }
//     }
//   }
// }
/* Twitter section styles end */

/* Shop styles start */
.shop {
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(267px, 1fr));
  }

  &__card {
    &_square {
      position: relative;
    }

    &_square-pic {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_ver {
      grid-row: span 2;
      position: relative;
    }

    &_ver-pic {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_hor {
      grid-column: span 2;
    }

    &_hor-pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__footer {
    padding: 75px 0;
    text-align: center;
    background-color: $shopFooterBgColor;
  }

  &__button {
    display: inline-block;
    padding: 20px 56px 20px 60px;
    border: 1px solid $shopButtonBorderColor;
    @include textParameters(
      $size: 14px,
      $weight: 700,
      $transform: uppercase,
      $color: $white
    );
  }
}
/* Shop styles end */

/* Contact styles start */
.contact {
  padding: 110px 10px;

  &__container {
    max-width: 534px;
    margin: 0 auto;
  }

  &__body {
    text-align: center;
  }

  &__logo-link {
    display: inline-block;
    margin-bottom: 40px;
  }

  &__text {
    @include textParameters($size: 24px, $style: italic);
    margin-bottom: 35px;
  }

  &__form {
    &_items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &_field {
      display: inline-block;
      padding: 28px;
      flex: 0 1 400px;
      border: 1px solid $inputBorderColor;
      @include textParameters($color: $textInputColor, $size: 20px);

      &::placeholder {
        @include textParameters($color: $textInputColor, $size: 20px);
      }
    }

    &_submit {
      flex: 0 1 126px;
      padding: 26px 0;
      background-color: $buttonFormColor;
      border: none;
      font-family: 'Lato', sans-serif;
      @include textParameters(
        $color: $white,
        $size: 24px,
        $weight: 300,
        $transform: uppercase
      );
    }
  }
}
/* Contact styles end */

/* Footer styles start */
.footer {
  padding: 100px 10px;
  background-color: $graywhiteColor;

  &__container {
    max-width: 1100px;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__contact {
    @include textParameters($size: 16px, $weight: 700, $lh: 17.87px);

    mark {
      color: $contextTextcolor;
      font-size: 14px;
      font-style: italic;
    }
  }

  &__social-link {
    display: inline-block;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__social-pic {
    object-fit: cover;
  }

  &__copyright {
    @include textParameters($size: 14px, $lh: 17.87px);
  }
}
/* Footer styles end */

/* Media queries start */
@media screen and (max-width: 1000px) {
  /* Work section styles start */
  .work {
    &__cards {
      grid-template-columns: repeat(2, minmax(320px, 1fr));
      grid-template-rows: repeat(10, minmax(200px, 1fr));
      grid-template-areas:
        'work__card_first work__card_first'
        'work__card_first work__card_first'
        'work__card_second work__card_fourth'
        'work__card_second work__card_fourth'
        'work__card_third work__card_fifth'
        'work__card_six work__card_six'
        'work__card_six work__card_six'
        'work__card_seventh work__card_eighth'
        'work__card_tenth work__card_eighth'
        'work__card_tenth work__card_ninth';
    }
  }
  /* Work section styles end */
}

@media screen and (max-width: 650px) {
  body.lock {
    overflow: hidden;
  }

  /* Header styles start */
  .header {
    background: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $graywhiteColor;
      z-index: 3;
    }

    &__row {
      justify-content: space-between;
    }

    &__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;

      span {
        position: absolute;
        background-color: $headerLinkColor;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }

      &::before,
      &::after {
        content: '';
        background-color: $headerLinkColor;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active {
        &::before {
          transform: rotate(45deg);
          top: 9px;
        }

        span {
          transform: scale(0);
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }
    }

    &__logo {
      display: block;
      position: relative;
      z-index: 3;
    }

    &__logo-pic {
      width: 50px;
      height: 50px;
    }

    &__nav {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: $headerBgColor;
      transition: all 0.3s ease 0s;
      z-index: 2;

      &.active {
        top: 0;
      }
    }

    &__list {
      display: block;
      position: absolute;
      left: 0;
      text-align: center;
      margin: 0 auto;
      padding-top: 80px;
      width: 100%;
      top: 50%;
      transform: translate(0, -50%);
    }

    &__item {
      margin: 0 0 40px 0;

      &:nth-child(3) {
        display: none;
      }

      &:last-child {
        margin: 0;
      }
    }

    &__link {
      font-size: 26px;

      &_after {
        &::after {
          content: '';
          padding: 0;
        }
      }
    }
  }
  /* Header styles end */

  /* About section styles start */
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  /* About section styles end */

  /* Work section styles start */
  .work {
    &__cards {
      grid-template-columns: repeat(1, minmax(320px, 1fr));
      grid-template-rows: repeat(15, minmax(200px, 1fr));
      grid-template-areas:
        'work__card_first'
        'work__card_first'
        'work__card_second'
        'work__card_second'
        'work__card_third'
        'work__card_six'
        'work__card_six'
        'work__card_fourth'
        'work__card_fourth'
        'work__card_fifth'
        'work__card_seventh'
        'work__card_seventh'
        'work__card_eighth'
        'work__card_eighth'
        'work__card_ninth';
    }
  }
  /* Work section styles end */

  /* Twitter section styles start */
  .twitter {
    padding-top: 80px;
  }
  /* Twitter section styles end */

  /* Contact styles start */
  .contact {
    padding-top: 80px;
    padding-bottom: 80px;

    &__form {
      &_items {
        flex-direction: column;
      }

      &_field {
        flex: 0 1 50px;
        margin-bottom: 10px;
      }

      &_submit {
        flex: 0 1 20px;
      }
    }
  }
  /* Contact styles end */

  /* Footer styles start */
  .footer {
    padding: 50px 10px;
    &__row {
      flex-direction: column;
      text-align: center;
    }

    &__contact {
      margin-bottom: 20px;
    }

    &__social {
      margin-bottom: 20px;
    }
  }
  /* Footer styles end */
}
/* Media queries end */
