// Modules
@use '../../scss/modules/reset' as reset;
// Fonts
@import '../../scss/modules/fonts';
// Palette
//@import "../../scss/modules/main/palette";
// Templates
//@import '../../scss/modules/login/templates';
// Functions
@import '../../scss/modules/functions';
// Mixins
@import '../../scss/modules/mixins';

// Presets
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  h1 {
    margin-bottom: 20px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.logo img {
  height: 100%;
  object-fit: contain;
}

h1 {
  text-align: center;
  font-size: 28pt;
  font-weight: 700;
  margin-top: 2%;
  color: #848789;
}

.orders-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.order__id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  font-size: 20pt;
  font-weight: 600;
  width: 100%;
  color: #4eaa86;
  margin-left: 5%;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 70%;
  border: 5px solid #64c29e;
  border-radius: 20px;
  padding: 1%;
  background-color: #efeeee;
  margin-bottom: 3%;
}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 94%;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: center;
  width: 33%;
  margin: 2% 0.25% 0 0;

  > * {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.item__img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 5%;
  overflow: hidden;
}

.item__title {
  font-size: 15pt;
  font-weight: bold;
}

.item span {
  font-size: 12pt;
  font-weight: bold;
}

.order__price {
  display: flex;
  justify-content: right;
  font-size: 20pt;
  font-weight: 600;
  width: 100%;
  margin: 3% 5% 0 0;
  color: #4eaa86;
}

.order__button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
}

button {
  padding: 10px 40px;
  border: 1px solid #64c29e;
  color: white;
  background-color: #64c29e;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
  opacity: 1;
}

button:hover {
  color: #64c29e;
  background-color: white;
  cursor: pointer;
}
