// LOGIN PALETTE
// Main palette
$primaryColor: #060606;
$white: #fff;
$black: #000;
$lightgreen: #64c29e;
$lightgreen2: #66c39f;
$lightgray: #e5e5e5;
$titleTextcolor: #353738;

// Secondary palette
$grayShadow: #bfbfbf;
$lightgreenShadow: #00ba6314;
$graySectionColor: #f8f8f8;
$grayBg: #f2f2f2;
$transparent: transparent;
$userFieldPlaceholder: #999999;
$buttonShowTextColor: #848484;
$buttonSeparatorColor: #00000099;
$buttonEmailHover: #0000001a;
$shopButtonBorderColor: #ffffff80;
