// Palette
$contextTextcolor: #848789;
$titleTextcolor: #353738;
$graywhiteColor: #f7f7f7;
$white: #fff;

// Header
$headerBgColor: #eceef4;
$headerLinkColor: #4d4959;

// Work
$textLineColor: #d7d7d7;

// Twitter
$sliderBorderColor: #c8c8c8;
$sliderBgColor: #a9afb3;

// Shop
$shopFooterBgColor: #282f35;
$shopButtonBorderColor: #ffffff80;

// Contact
$inputBorderColor: #d3d7d9;
$textInputColor: #929292;
$buttonFormColor: #64c29e;
