/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/ofont.ru_Myriad Pro.eot");
  src: local("☺"), url("../fonts/ofont.ru_Myriad Pro.woff") format("woff"),
    url("../fonts/ofont.ru_Myriad Pro.ttf") format("truetype"),
    url("../fonts/ofont.ru_Myriad Pro.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Fonts */

// Nullstyle
@import "_reset.scss";

// Palette
@import "_palette.scss";

// Adaptive font variables

// Mixins
@mixin textParameters(
  $color: $contextTextcolor,
  $size: 18px,
  $style: normal,
  $weight: 400,
  $lh: 1,
  $ls: normal,
  $transform: none,
  $opacity: 1,
  $shadow: none,
  $decoration: none
) {
  color: $color;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $lh;
  letter-spacing: $ls;
  text-transform: $transform;
  opacity: $opacity;
  text-shadow: $shadow;
  text-decoration: $decoration;
}

// Presets
body {
  font-family: "Lato", sans-serif;
  @include textParameters();
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}

/* Header styles start */
.header {
  position: fixed;
  padding-top: 35px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  &__container {
    max-width: 618px;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    width: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__link {
    @include textParameters(
      $color: $headerLinkColor,
      $size: 13px,
      $weight: 700,
      $transform: uppercase,
      $ls: 2.6px
    );

    &:nth-child(1) {
    }
  }

  &__logo-link {
    padding: 0 5px;
  }

  &__logo-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* Header styles end */

/* Main content styles start */
.content {
  flex: 1 1 auto;
}
/* Main content styles end */

/* Intro styles start */
.intro {
  &__bg {
    min-height: 100vh;
  }
}
/* Intro styles end */

/* About styles start */
.about {
  padding: 118px 0 134px 0;

  &__container {
    max-width: 1080px;
    margin: 0 auto;
  }

  &__body {
    text-align: center;
  }

  &__icon {
    margin-bottom: 34px;
  }

  &__icon-pic {
    object-fit: cover;
  }

  &__title {
    @include textParameters(
      $color: $titleTextcolor,
      $size: 18px,
      $transform: uppercase,
      $ls: 3.6px,
      $weight: 700
    );
    margin-bottom: 24px;
  }

  &__text {
    @include textParameters($lh: 34px);
  }
}
/* About styles end */

/* Footer styles start */

/* Footer styles end */
